table {
  height: clamp(540px, 40vw, 720px);
  width: clamp(540px, 40vw, 720px);
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
  height: 33.33%
}

td {
  border: solid;
  text-align: center;
  font-size: clamp(65px, 5vw, 90px);
}
